@{
    bool isFullScreen = ViewBag.UseFullScreenWidth != null && ViewBag.UseFullScreenWidth;
    string containerClass = "container-fluid";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/ico" href="~/Images/Logo.png">
    <link rel="manifest" href="~/manifest.json">
    <title>@ViewBag.Title - Memento Health</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light navbar-light">
        <div class="@containerClass">
            <div class="navbar-header">
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <img src="~/Images/Memento Health-logo.svg" id="logo-img" title="Home" alt="Home" />
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarSupportedContent" class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole(Role.SysAdmin))
                        {
                            <li class="nav-item">@Html.ActionLink("Providers", "Index", "Providers", new { Area = "" }, new { @class = "nav-link" })</li>
                        }

                        if (User.IsInRole(Role.SysAdmin) || User.IsInRole(Role.ProviderAdmin))
                        {
                            <li class="nav-item">@Html.ActionLink("Users", "Index", "Users", new { Area = "" }, new { @class = "nav-link" })</li>
                        }

                        if (User.IsInRole(Role.ProviderAdmin) || User.IsInRole(Role.Doctor) || User.IsInRole(Role.Assistant))
                        {
                            <li class="nav-item">@Html.ActionLink("Forms", "Index", "Forms", new { Area = "" }, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Patients", "Index", "Patients", new { Area = "" }, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Submissions", "Index", "Submissions", new { Area = "" }, new { @class = "nav-link" })</li>
                        }
                    }
                    else
                    {
                        <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { Area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("About", "About", "Home", new { Area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", new { Area = "" }, new { @class = "nav-link" })</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="@containerClass body-content mt-3">
        @RenderBody()
    </div>
    <hr />
        <footer class="@(isFullScreen ? "mx-3" : "") d-block d-sm-flex">
            @if (User.Identity.IsAuthenticated)
            {
                <div><b>Current user role:</b> @User.GetRole()</div>
            }
            <div class="ml-auto mt-2 mt-sm-0">&copy; @DateTime.Now.Year - Memento Health</div>
        </footer>

    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker
                .register('@Url.Content("~/serviceWorker.js")')
                .then(function () { console.log('Service Worker Registered'); });
        }
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>