@model MementoHealth.Models.ApplicationUser

@{
    ViewBag.Title = "Delete";   
}

<div class="row d-flex justify-content-center">
    <div class="shadow bg-light text-center" style="border-radius: 12px">
        <div class="text-danger text-center h2 font-weight-bold" style="padding-top: 25px;">Delete this user?</div><hr />
        <div class="custom-form-div" style="padding-bottom: 0px; min-width: 300px">

            <div class="row">
                <div class="col-md-auto">
                    <section>
                        <div class="form-group">
                            <div class="col-md-auto my-1 font-weight-bold" style="text-align: center">@Html.DisplayNameFor(model => model.FullName)</div><hr style="margin: 0 0 0 0" />
                            <div class="col-md-auto my-1">@Html.DisplayFor(model => model.FullName)</div>
                        </div>
                        <div class="form-group mt-4">
                            <div class="col-md-auto my-1 font-weight-bold" style="text-align: center">@Html.DisplayNameFor(model => model.Email)</div><hr style="margin: 0 0 0 0" />
                            <div class="col-md-auto my-1">@Html.DisplayFor(model => model.Email)</div>
                        </div>
                        <div class="form-group mt-4">
                            <div class="col-md-auto my-1 font-weight-bold" style="text-align: center">Email Confirmed</div><hr style="margin: 0 0 0 0" />
                            <div class="col-md-auto my-1">@Html.DisplayFor(model => model.EmailConfirmed)</div>
                        </div>
                        <div class="form-group mt-4">
                            <div class="col-md-auto my-1 font-weight-bold" style="text-align: center">@Html.DisplayNameFor(model => model.PhoneNumber)</div><hr style="margin: 0 0 0 0" />
                            <div class="col-md-auto my-1">@Html.DisplayFor(model => model.PhoneNumber)</div>
                        </div>
                        <div class="form-group mt-4">
                            <div class="col-md-auto my-1 font-weight-bold" style="text-align: center">@Html.DisplayNameFor(model => model.LockOutStatus)</div><hr style="margin: 0 0 0 0" />
                            <div class="col-md-auto my-1">@Html.DisplayFor(model => model.LockOutStatus)</div>
                        </div>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color my-4" style="text-align: center">
                                <input type="submit" value="Delete" class="btn btn-danger w-100" />

                            </div>
                            <div style="text-align: center">@Html.ActionLink("Back to User List", "Index")</div>
                        }
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
