@model MementoHealth.Models.ApplicationUser

@{
    ViewBag.Title = "Delete";
    ViewBag.UseFullScreenWidth = true;
}

<h3 class="text-danger" id="page-title">Are you sure you want to delete this user?</h3>

<div class="container" style="text-align: center; overflow:auto; width: 100%">
    <div style='float:left; width:48.5%; text-align:right'>
        <p class="my-1 font-weight-bold">@Html.DisplayNameFor(model => model.FullName)</p><br />
        <p class="my-1 font-weight-bold">@Html.DisplayNameFor(model => model.Email)</p><br />
        <p class="my-1 font-weight-bold">@Html.DisplayNameFor(model => model.EmailConfirmed)</p><br />
        <p class="my-1 font-weight-bold">@Html.DisplayNameFor(model => model.PhoneNumber)</p><br />
        <p class="my-1 font-weight-bold">@Html.DisplayNameFor(model => model.LockOutStatus)</p>
    </div>

    <div style='float: left; width: 40%; margin-left: 30px; overflow-y: auto; text-align: left'>
        <p class="my-1">@Html.DisplayFor(model => model.FullName)</p><br />
        <p class="my-1">@Html.DisplayFor(model => model.Email)</p><br />
        <p class="my-1">@Html.DisplayFor(model => model.EmailConfirmed)</p><br />
        <p class="my-1">@Html.DisplayFor(model => model.PhoneNumber)</p><br />
        <p class="my-1">@Html.DisplayFor(model => model.LockOutStatus)
    </div>
</div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color my-4" style="text-align: center">
            <input type="submit" value="Delete" class="btn btn-danger" />

        </div>
        <div style="text-align: center">@Html.ActionLink("Back to List", "Index")</div>
    }