@model MementoHealth.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
    ViewBag.UseFullScreenWidth = true;
}

<div class="page-title h2">@ViewBag.Title</div>


<div class="container" style="text-align: center; overflow:auto; min-width: 100%">
    <div style='float:left; width:49.5%; text-align:right'>
        <p class="my-1 font-weight-bold">@Html.DisplayNameFor(model => model.FullName)</p><br />
        <p class="my-1 font-weight-bold">@Html.DisplayNameFor(model => model.Email)</p><br />
        <p class="my-1 font-weight-bold">Email Confirmed</p><br />
        <p class="my-1 font-weight-bold">Phone Number</p><br />
        <p class="my-1 font-weight-bold">@Html.DisplayNameFor(model => model.LockOutStatus)</p>
    </div>

    <div style='float: left; width: 40%; margin-left: 25px; overflow-y: auto; text-align: left'>
        <p class="my-1">@Html.DisplayFor(model => model.FullName)</p><br />
        <p class="my-1">@Html.DisplayFor(model => model.Email)</p><br />
        <p class="my-1">@Html.DisplayFor(model => model.EmailConfirmed)</p><br />
        <p class="my-1">@Html.DisplayFor(model => model.PhoneNumber)</p><br />
        <p class="my-1">@Html.DisplayFor(model => model.LockOutStatus)</p>
    </div>
</div>

<p class="my-4" style="text-align: center">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
