@model IEnumerable<MementoHealth.Models.UserViewModel>

@{
    ViewBag.Title = "User Manager";
    ViewBag.UseFullScreenWidth = true;
}
<div class="box" style="text-align: center">
    <div class="page-title font-weight-bold h2">@ViewBag.Title</div>
    <div style="margin-top:-30px; margin-bottom: 10px"> @Html.ActionLink("Create New User", "Create", "Users", null, new { @class = " " })</div>
</div>

<div class="container" style="overflow-y: auto; white-space: nowrap; min-width: 94.5%; text-align: center">
    @if (TempData["StatusMessage"] != null)
    {
        <p class="text-info">@TempData["StatusMessage"]</p>
    }

    <div class="card shadow">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.FullName</td>
                            <td>@item.Email</td>
                            <td>@item.Phone</td>
                            <td>@item.Role</td>
                            <td>@item.LockOutStatus @(item.EmailConfirmed ? "" : " + Email not confirmed")</td>
                            <td>
                                @if (User.Identity.Name.ToLower().Equals(item.Email.ToLower()))
                                {
                                    <text>@Html.ActionLink("Manage current user", "Index", "Manage")</text>
                                }
                                else
                                { // Hide actions for the current user.
                                    <text>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                        @if (!item.EmailConfirmed)
                                        {
                                            <text>|</text> using (Html.BeginForm("ResendEmailConfirmation", "Users", new { id = item.Id }, FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                <a href="#" onclick="this.closest('form').submit();return false;">Resend Email Confirmation</a>
                                            }
                                        }
                                        <text>|</text>
                                        @using (Html.BeginForm("LockUnlock", "Users", new { id = item.Id, lockOut = !item.LockedOut }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <a href="#" onclick="this.closest('form').submit();return false;">@(item.LockedOut ? "Unlock" : "Lock")</a>
                                        }
                                        | @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                    </text>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section styles {

    <style>
        form {
            display: inline-block;
        }
    </style>
}
