@model MementoHealth.Entities.Provider

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="form-horizontal bg-light">

                <h3>Provider Registration</h3>
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Provider Name" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone Number" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-auto">
                        <input type="submit" value="Register" class="btn btn-primary" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="text-center">
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>

            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section styles
{
    <style>

        .btn {
            width:100%;
        }

        .form-horizontal {
            border: 1px solid transparent;
            border-radius: 20px;
            margin-top: 50px;
            margin-bottom: 50px;
            padding-top: 100px;
            padding-right: 150px;
            padding-bottom: 80px;
            padding-left: 150px;
        }
    </style>
}