@model MementoHealth.Entities.Provider

@{
    ViewBag.Title = "Provider Details";
}

<h2>Provider Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dd>
            <strong>Admins</strong>
        </dd>

        <div class="card shadow">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Staff.Where(s => s.Roles.Any(r => r.Role.Name.Equals(Role.ProviderAdmin))).ToList())
                        {
                        <tr>
                            <td>@item.FullName</td>
                            <td>@item.Email</td>
                        <td>@(item.PhoneNumber ?? "None")</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

            

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProviderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
