@model IEnumerable<MementoHealth.Entities.Provider>

@{
    ViewBag.Title = "Providers";
    ViewBag.UseFullScreenWidth = true;
}

<div class="box" style="text-align: center">
    <div class="page-title font-weight-bold h2">@ViewBag.Title</div>
</div>

<div class="container" style="overflow-y: auto; white-space: nowrap; min-width: 94.5%; text-align: center">
    <div class="card shadow">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Phone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Forms)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Patients)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Staff)
                        </th>

                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @item.Forms.Count
                        </td>
                        <td>
                            @item.Patients.Count
                        </td>
                        <td>
                            @item.Staff.Count
                        </td>

                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ProviderId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ProviderId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ProviderId })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>







