@model MementoHealth.Models.StatsViewModel

@{
    ViewBag.Title = "Stats";
}


<div class="box" style="text-align: center">
    <div class="page-title font-weight-bold h2">@ViewBag.Title</div>
</div>
<div>
    <dl class="dl-horizontal text-center">

        <dt>Providers</dt>
        <dd>
            @Model.ProviderCount
        </dd>
        <dt>Patients</dt>
        <dd>
            @Model.PatientCount
        </dd>
        <dt>Forms</dt>
        <dd>
            @Model.FormCount
        </dd>
        <dt>Users</dt>
        <dd>
            @Model.UserCount
        </dd>
        <dt>Submissions</dt>
        <dd>
            @Model.SubmissionCount
        </dd>
        <dt>Average Patients Per Provider</dt>
        <dd>
            @Model.AveragePatients
        </dd>
        <dt>Average Forms Per Provider</dt>
        <dd>
            @Model.AverageForms
        </dd>
        <dt>Average Users Per Provider</dt>
        <dd>
            @Model.AverageUsers
        </dd>
    </dl>
</div>
<br />





