@model MementoHealth.Models.FormViewModel

@{
    ViewBag.Title = "Form Details";
}

<h2>@ViewBag.Title</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.NumberOfQuestions)</dt>
        <dd>@Html.DisplayFor(model => model.NumberOfQuestions)</dd>

        <dt>@Html.DisplayNameFor(model => model.NumberOfSubmissions)</dt>
        <dd>@Html.DisplayFor(model => model.NumberOfSubmissions)</dd>
    </dl>
</div>

<p>
    @if (User.IsInRole(Role.ProviderAdmin))
    {
        <text>
            @Html.ActionLink("Edit", "Edit", new { id = Model.FormId }) |
        </text>
    }
    @Html.ActionLink("Back to List", "Index")
</p>