@model IEnumerable<MementoHealth.Models.FormViewModel>

@{
    ViewBag.Title = "Forms";
}

<div class="box" style="text-align: center">
    <div class="page-title font-weight-bold h2">@ViewBag.Title</div>
    @if (User.IsInRole(Role.ProviderAdmin))
    {
        <p style="margin-top:-20px; margin-bottom: 20px">
            @Html.ActionLink(" Create New Form", "Create", null, new { @class = "fa fa-plus-square text-dark" })
        </p>
    }
</div>

<div class="container" style="overflow-y: auto; white-space: nowrap; min-width: 94.5%; text-align: center">
    @if (Model == null)
    {
        <span class="text-danger">No forms yet...</span>
    }
    else
    {
        <div class="card shadow">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.NumberOfQuestions)</th>
                            <th>@Html.DisplayNameFor(model => model.NumberOfSubmissions)</th>
                            @if (User.IsInRole(Role.ProviderAdmin))
                            {
                                <th>Actions</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var form in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => form.Name)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => form.NumberOfQuestions)
                                    @if (User.IsInRole(Role.ProviderAdmin))
                                    {
                                        <span>(</span>
                                        if (form.NumberOfQuestions == 0)
                                        {
                                            @Html.ActionLink("Add", "Add", "FormQuestions", new { id = form.FormId }, null)
                                        }
                                        else
                                        {
                                            @Html.ActionLink("View", "Index", "FormQuestions", new { id = form.FormId }, null)
                                        }
                                        <span>)</span>
                                    }
                                    else
                                    {
                                        if (form.NumberOfQuestions > 0)
                                        {
                                            <span>(</span>
                                            @Html.ActionLink("View", "Index", "FormQuestions", new { id = form.FormId }, null)
                                            <span>)</span>
                                        }
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => form.NumberOfSubmissions)
                                    @if (form.NumberOfSubmissions > 0)
                                    {
                                        <text>
                                            (@Html.ActionLink("View", "Form", "Submissions", new { id = form.FormId }, null))
                                        </text>
                                    }
                                </td>
                                @if (User.IsInRole(Role.ProviderAdmin))
                                {
                                    <td>
                                        <text>
                                            @if (form.IsPublished && form.NumberOfSubmissions == 0)
                                            {
                                                @Html.ActionLink("Unpublish", "Unpublish", new { id = form.FormId })
                                                <text>|</text>
                                            }
                                            else if (!form.IsPublished && form.NumberOfQuestions > 0)
                                            {
                                                @Html.ActionLink("Publish", "Publish", new { id = form.FormId })
                                                <text>|</text>
                                            }
                                            @Html.ActionLink("Clone", "Clone", new { id = form.FormId }) |
                                            @Html.ActionLink("Edit Name", "Edit", new { id = form.FormId }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = form.FormId })
                                        </text>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>