@model IEnumerable<MementoHealth.Models.FormViewModel>

@{
    ViewBag.Title = "Forms";
}

<div class="titleCard container">
    <div class="text-center p-3" style="background-color: #e0e2eb; position: center; border-radius: 20px 20px 0px 0px">
        <div class="h2 page-title font-weight-bold"><i class="fa fa-file-text"></i>&nbsp;@ViewBag.Title</div>
        @if (User.IsInRole(Role.ProviderAdmin))
        {
            <div class="text-secondary">
                <a href="@Url.Action("Create")"><i class="fa fa-plus-square"></i> Create New Form</a>
            </div>
        }
    </div>
</div>

    <div class="container" style="overflow-y: auto; white-space: nowrap; min-width: 94.5%; text-align: center">
        @if (Model == null)
        {
            <span class="text-danger">No forms yet...</span>
        }
        else
        {
            <div class="card shadow">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    <i class="fa fa-sort-alpha-asc"></i>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    <i class="fa fa-question-circle-o"></i>
                                    @Html.DisplayNameFor(model => model.NumberOfQuestions)
                                </th>
                                <th>
                                    <i class="fa fa-check-square-o"></i>
                                    @Html.DisplayNameFor(model => model.NumberOfSubmissions)
                                </th>
                                @if (User.IsInRole(Role.ProviderAdmin))
                                {
                                    <th><i class="fa fa-bolt"></i> Actions</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var form in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => form.Name)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => form.NumberOfQuestions)
                                        @if (User.IsInRole(Role.ProviderAdmin))
                                        {
                                            <span>(</span>
                                            if (form.NumberOfQuestions == 0)
                                            {
                                                <a class="text-success" href="@Url.Action("Add", "FormQuestions", new { id = form.FormId })">
                                                    <i class="fa fa-plus-circle"></i>
                                                    Add
                                                </a>
                                            }
                                            else
                                            {
                                                <a class="text-info" href="@Url.Action("Index", "FormQuestions", new { id = form.FormId })">
                                                    <i class="fa fa-eye"></i>
                                                    View
                                                </a>
                                            }
                                            <span>)</span>
                                        }
                                        else
                                        {
                                            if (form.NumberOfQuestions > 0)
                                            {
                                                <span>(</span>
                                                <a class="text-info" href="@Url.Action("Index", "FormQuestions", new { id = form.FormId })">
                                                    <i class="fa fa-eye"></i>
                                                    View
                                                </a>
                                                <span>)</span>
                                            }
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => form.NumberOfSubmissions)
                                        @if (form.NumberOfSubmissions > 0)
                                        {
                                            <span>(</span>
                                            <a class="text-info" href="@Url.Action("Form", "Submissions", new { id = form.FormId })">
                                                <i class="fa fa-eye"></i>
                                                View
                                            </a>
                                            <span>)</span>
                                        }
                                    </td>
                                    @if (User.IsInRole(Role.ProviderAdmin))
                                    {
                                        <td>
                                            @if (form.IsPublished && form.NumberOfSubmissions == 0)
                                            {
                                                <a title="Unpublish" href="@Url.Action("Unpublish",new { id = form.FormId })">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-share-alt fa-stack-1x"></i>
                                                        <i class="fa fa-ban fa-stack-2x text-danger"></i>
                                                    </span>
                                                </a>
                                                <span>|</span>
                                            }
                                            else if (!form.IsPublished && form.NumberOfQuestions > 0)
                                            {
                                                <a title="Publish" href="@Url.Action("Publish",new { id = form.FormId })">
                                                    <i class="fa fa-lg fa-share-alt"></i>
                                                </a>
                                                <span>|</span>
                                            }
                                            <a title="Edit name" href="@Url.Action("Edit",new { id = form.FormId })">
                                                <i class="fa fa-lg fa-pencil"></i>
                                            </a> |
                                            <a title="Clone" href="@Url.Action("Clone",new { id = form.FormId })">
                                                <i class="fa fa-lg fa-clone"></i>
                                            </a> |
                                            <a title="Delete" class="text-danger" href="@Url.Action("Delete",new { id = form.FormId })">
                                                <i class="fa fa-lg fa-trash"></i>
                                            </a>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
