@model IEnumerable<MementoHealth.Models.FormViewModel>

@{
    ViewBag.Title = "Forms";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Clone", "Clone", new { id=item.FormId }) |
            @Html.ActionLink("Edit", "Edit", new { id=item.FormId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FormId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FormId })
        </td>
    </tr>
}

</table>