@model IEnumerable<MementoHealth.Models.FormViewModel>

@{
    ViewBag.Title = "Forms";
}

<h2>@ViewBag.Title</h2>

@if (User.IsInRole(Role.ProviderAdmin))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.NumberOfQuestions)</th>
        <th>@Html.DisplayNameFor(model => model.NumberOfSubmissions)</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.NumberOfQuestions)</td>
            <td>@Html.DisplayFor(modelItem => item.NumberOfSubmissions)</td>
            <td>
                @Html.ActionLink("View Questions", "Index", "FormQuestions", new { id = item.FormId }, null) |
                @if (User.IsInRole(Role.ProviderAdmin))
                {
                    <text>
                        @Html.ActionLink("Clone", "Clone", new { id = item.FormId }) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.FormId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.FormId })
                    </text>
                }
            </td>
        </tr>
    }

</table>