@model MementoHealth.Models.ChangeFullNameViewModel
@{
    ViewBag.Title = "Change Full Name";   
}

<div class="row d-flex justify-content-center">
    <div class="shadow bg-light text-center" style="border-radius: 12px">
        <div class="page-title h2 font-weight-bold" style="padding-top: 25px;">@ViewBag.Title</div>
        <div class="custom-form-div" style="margin-top: -50px; padding-bottom: 0px">

            <div class="row">
                <div class="col-md-auto">
                    <section>
                        @using (Html.BeginForm("ChangeFullName", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })

                            <div class="form-group mt-2">
                                <div class="col-md-auto" style="text-align: left; padding: 0 0 0 0">
                                    @Html.LabelFor(m => m.FullName, new { @class = "control-label col-md-auto" })
                                </div>
                                <div class="col-md-auto">
                                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-auto my-4 mt-4" style="text-align: center; padding-top: 5px">
                                    <input type="submit" class="btn btn-primary w-100" value="Change" />
                                </div>
                            </div>
                            <p>
                                @Html.ActionLink("Back to Manage Account", "Index")
                            </p>
                        }
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}