@model MementoHealth.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    ViewBag.UseFullScreenWidth = true;
}

<div class="row d-flex justify-content-center">
    <div class="col-md-6 shadow bg-light text-center" style="border-radius: 12px">
        <div class="page-title h2 font-weight-bold" style="padding-top: 25px">Manage Account</div>
        <p class="text-success" style="text-align:center">@ViewBag.StatusMessage</p>
        <div class="form" style="margin-top: 15px; margin-bottom: 30px; overflow-y: hidden; min-width: 100% ">

                <div style='float:left; width:47.5%; text-align:right'>
                    <div class="my-1 font-weight-bold">Role</div><br />
                    <div class="my-1 font-weight-bold">Full Name</div><br />
                    <div class="my-1 font-weight-bold">Phone Number</div><br />
                    <div class="my-1 font-weight-bold">Password</div><br />
                    <div class="my-1 font-weight-bold">Pin Code</div><br />
                    <div class="my-1 font-weight-bold">Two-Factor Authentication</div><br />
                </div>

                <div style='float: left; width: 42%; margin-left: 25px; overflow-y: auto; text-align: left; white-space:nowrap'>
                    <div class="my-1">@Model.Role</div><br />
                    <div class="my-1">@Model.FullName (@Html.ActionLink("Change", "ChangeFullName"))</div><br />
                    <div class="my-1">@Model.PhoneNumber (@Html.ActionLink(Model.PhoneNumber == null ? "Add" : "Change", "AddPhoneNumber"))</div><br />
                    <div class="my-1">
                        @if (Model.HasPassword)
                        {
                            @Html.ActionLink("Change your password", "ChangePassword")
                        }
                        else
                        {
                            @Html.ActionLink("Create", "SetPassword")
                        }
                    </div><br />
                    <div class="my-1">@Html.ActionLink("Change your PIN code", "ChangePin")</div><br />
                    <div class="my-1">
                        @if (Model.TwoFactor)
                        {
                            using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()

                                <input type="submit" value="Disable" class="btn btn-link" style="padding: 0 0 0 0" />

                            }
                        }
                        else
                        {
                            using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()

                                <input type="submit" value="Enable" class="btn btn-link" style="padding: 0 0 0 0"/>

                            }
                        }
                    </div><br />
                </div>
            </div>
        </div>
    </div>


