@model MementoHealth.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    ViewBag.UseFullScreenWidth = true;
}

<h2 id="page-title">Manage Account</h2>

<p class="text-success" style="text-align:center">@ViewBag.StatusMessage</p>
<div class="container" style="text-align: center; width: 400px">
    <dl class="dl-horizontal" id="custom-dl" style="text-align: center">
        <dt id="custom-dt" style="text-align: left">Password:</dt>
        <dd id="custom-dd" style="text-align: right">

            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }

        </dd>
    </dl>
    <dl class="dl-horizontal" id="custom-dl" style="text-align: center">
        <dt id="custom-dt" style="text-align: left">PIN Code:</dt>
        <dd id="custom-dd" style="text-align: right">
            
            @Html.ActionLink("Change your PIN code", "ChangePin")
            
        </dd>
    </dl>
    <dl class="dl-horizontal" id="custom-dl" style="text-align: center">
        <dt id="custom-dt" style="text-align: left">Phone Number:</dt>
        <dd id="custom-dd" style="text-align: right">
            @(Model.PhoneNumber ?? "None")
            @if (Model.PhoneNumber != null)
            {
                <br />
                <text>&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;</text>

            }
            else
            {
                <text>&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")&nbsp;&nbsp;</text>
            }
        </dd>
    </dl>
</div>