@model MementoHealth.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="row d-flex justify-content-center">
    <div class="shadow bg-light text-center" style="border-radius: 12px">
        <div class="page-title h2 font-weight-bold" style="padding-top: 25px;">@ViewBag.Title</div>
        <div class="custom-form-div" style="margin-top: -50px; padding-bottom: 0px">

            <div class="row">
                <div class="col-md-auto">
                    <section>
                        <div class="form-group mt-2">
                            <div class="col-md-auto my-1 font-weight-bold" style="text-align: center">Role</div><hr style="margin: 0 0 0 0" />
                            <div class="col-md-auto my-1">@Model.Role</div>
                        </div>
                        <div class="form-group mt-4">
                            <div class="col-md-auto my-1 font-weight-bold" style="text-align: center">Full Name</div><hr style="margin: 0 0 0 0" />
                            <div class="col-md-auto my-1">@Model.FullName (@Html.ActionLink("Change", "ChangeFullName"))</div>
                        </div>
                        <div class="form-group mt-4">
                            <div class="col-md-auto my-1 font-weight-bold" style="text-align: center">Current Email</div><hr style="margin: 0 0 0 0" />
                            <div class="col-md-auto my-1">@Html.Email(Model.Email)</div>
                        </div>
                        <div class="form-group mt-4">
                            <div class="col-md-auto my-1 font-weight-bold" style="text-align: center">Phone Number</div><hr style="margin: 0 0 0 0" />
                            <div class="col-md-auto my-1">@Html.Phone(Model.PhoneNumber) (@Html.ActionLink(Model.PhoneNumber == null ? "Add" : "Change", "AddPhoneNumber"))</div>
                        </div>
                        <div class="form-group mt-4">
                            <div class="col-md-auto my-1 font-weight-bold" style="text-align: center">Password</div><hr style="margin: 0 0 0 0" />
                            <div class="col-md-auto my-1">
                                @if (Model.HasPassword)
                                {
                                    @Html.ActionLink("Change your password", "ChangePassword")
                                }
                                else
                                {
                                    @Html.ActionLink("Create", "SetPassword")
                                }
                            </div>
                        </div>
                        <div class="form-group mt-4">
                            <div class="col-md-auto my-1 font-weight-bold" style="text-align: center">Pin Code</div><hr style="margin: 0 0 0 0" />
                            <div class="col-md-auto my-1">@Html.ActionLink("Change your PIN code", "ChangePin")</div>
                        </div>
                        <div class="form-group mt-4">
                            <div class="col-md-auto my-1 font-weight-bold" style="text-align: center">Two-Factor Authentication</div><hr style="margin: 0 0 0 0" />
                            <div class="col-md-auto my-1">
                                @if (Model.TwoFactor)
                                {
                                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <input type="submit" value="Disable" class="btn btn-link" style="padding: 0 0 0 0" />
                                    }
                                }
                                else
                                {
                                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <input type="submit" value="Enable" class="btn btn-link" style="padding: 0 0 0 0" />
                                    }
                                }
                            </div>
                        </div>

                        @if (!User.IsInRole(Role.SysAdmin))
                        {
                            <div class="form-group mt-4">
                                <div class="col-md-auto my-1 font-weight-bold" style="text-align: center">My Provider Details</div><hr style="margin: 0 0 0 0" />
                                <div class="col-md-auto my-1">@Html.ActionLink("View", "Details", "Providers")</div>
                            </div>
                        }
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>