@model MementoHealth.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    ViewBag.UseFullScreenWidth = true;
}

<div class="page-title h2">Manage Account</div>

<p class="text-success" style="text-align:center">@ViewBag.StatusMessage</p>



<div class="container" style="text-align: center; overflow:auto; min-width: 100%">
    <div style='float:left; width:49.5%; text-align:right'>
        <p class="my-1 font-weight-bold">Role:</p><br />
        <p class="my-1 font-weight-bold">Full Name:</p><br />
        <p class="my-1 font-weight-bold">Phone Number:</p><br />
        <p class="my-1 font-weight-bold">Password:</p><br />
        <p class="my-1 font-weight-bold">Pin Code:</p><br />
        <p class="my-1 font-weight-bold">Two-Factor Authentication:</p><br />
    </div>

    <div style='float: left; width: 43%; margin-left: 25px; overflow-y: auto; text-align: left; white-space:nowrap'>
        <p class="my-1">@Model.Role</p><br />
        <p class="my-1">
            @Model.FullName
            (@Html.ActionLink("Change", "ChangeFullName"))
        </p><br />
        <p class="my-1">
            @Model.PhoneNumber
            (@Html.ActionLink(Model.PhoneNumber == null ? "Add" : "Change", "AddPhoneNumber"))
        </p><br />
        <p class="my-1">
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
        </p><br />
        <p class="my-1">@Html.ActionLink("Change your PIN code", "ChangePin")</p><br />
        <p class="my-1">
            @if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <input type="submit" value="Disable" class="btn btn-link" style="padding: 0 0 0 0" />

                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <input type="submit" value="Enable" class="btn btn-link" style="padding: 0 0 0 0" />

                }
            }
        </p><br />
    </div>
</div>

@section styles {
    <style>
        form {
            display: inline-block;
        }
    </style>
}