@using MementoHealth.Models
@model PinUnlockViewModel
@{
    ViewBag.Title = "Pin Unlock";
}

<div class="row d-flex justify-content-center">
    <div class="custom-form-div shadow bg-light text-center">

        <h2 class="pt-4">@ViewBag.Title</h2>
        <div class="text-secondary">@User.GetFullName()</div>
        <hr />
        <div class="row">
            <div class="col-md-auto">
                <section id="loginForm">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.ReturnUrl)
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-md-auto">
                                @Html.PasswordFor(m => m.Pin, new { @class = "form-control", placeholder = "PIN", autofocus = true })
                                @Html.ValidationMessageFor(m => m.Pin, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-auto">
                                <input type="submit" value="Unlock" class="btn btn-primary w-100" />
                            </div>
                        </div>
                    }
                    @Html.ActionLink("Forgot your PIN?", "ChangePin", "Manage", new { returnUrl = Model.ReturnUrl }, new { @class="mb-2"})
                </section>
            </div>
        </div>
    </div>


</div>
