@model MementoHealth.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="form-div bg-light">

                <h3>Create a new account</h3>
       
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-auto">
                        @Html.TextBoxFor(m => m.ProviderName, new { @class = "form-control", placeholder = "Provider Name" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-auto">
                        @Html.TextBoxFor(m => m.ProviderAddress, new { @class = "form-control", placeholder = "Provider Address" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-auto">
                        @Html.TextBoxFor(m => m.ProviderEmail, new { @class = "form-control", placeholder = "Provider Email" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-auto">
                        @Html.TextBoxFor(m => m.ProviderPhone, new { @class = "form-control", placeholder = "Provider Phone" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-auto">
                        @Html.TextBoxFor(m => m.AdminFullName, new { @class = "form-control", placeholder = "Admin Full Name" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-auto">
                        @Html.TextBoxFor(m => m.AdminEmail, new { @class = "form-control", placeholder = "Admin Email" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-auto">
                        @Html.TextBoxFor(m => m.AdminPhone, new { @class = "form-control", placeholder = "Admin Phone" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-auto">
                        @Html.PasswordFor(m => m.AdminPassword, new { @class = "form-control", placeholder = "Admin Password" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-auto">
                        @Html.PasswordFor(m => m.ConfirmAdminPassword, new { @class = "form-control", placeholder = "Confirm Admin Password" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-auto">
                        <input type="submit" class="btn btn-primary" value="Register" />
                    </div>
                </div>

            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section styles
{
    <style>

        .btn {
            width: 100%;
        }

        .form-div {
            border: 1px solid transparent;
            border-radius: 20px;
            margin-top: 30px;
            margin-bottom: 50px;
            padding-top: 50px;
            padding-right: 150px;
            padding-bottom: 50px;
            padding-left: 150px;
        }
    </style>
}