@model MementoHealth.Models.VerifyCodeViewModel
@{
    ViewBag.Title = "Verify";
}



@using (Html.BeginForm("VerifyCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("provider", @Model.Provider)
    @Html.Hidden("rememberMe", @Model.RememberMe)

    <div class="row d-flex justify-content-center">

        <div class="custom-form-div shadow bg-light text-center">

            <h2>@ViewBag.Title</h2>
            <h4>Enter verification code</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-auto">
                    @Html.TextBoxFor(m => m.Code, new { @class = "form-control", placeholder = "Code" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-auto">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberBrowser)
                        @Html.LabelFor(m => m.RememberBrowser)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-auto">
                    <input type="submit" class="btn btn-primary w-100" value="Submit" />
                </div>
            </div>

        </div>
    </div>
    

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
