@model IEnumerable<MementoHealth.Entities.Patient>

<div class="container" style="overflow-y: auto; white-space: nowrap; min-width: 94.5%; text-align: center">
    <div class="card shadow">
        <div class="sticky-table sticky-ltr-cells" style="border-radius: 0px 0px 20px 20px">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr class="sticky-header">
                        <th>
                            <i class="fa fa-sort-alpha-asc"></i>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th>
                            <i class="fa fa-birthday-cake"></i>
                            @Html.DisplayNameFor(model => model.Birthday)
                        </th>
                        <th>
                            <i class="fa fa-id-card"></i>
                            @Html.DisplayNameFor(model => model.ExternalPatientId)
                        </th>
                        <th>
                            <i class="fa fa-check-square-o"></i>
                            @Html.DisplayNameFor(model => model.Submissions)
                        </th>
                        <th><i class="fa fa-bolt"></i> Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var patient in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => patient.FullName)</td>
                            <td>@patient.Birthday.ToShortDateString()</td>
                            <td>@(patient.ExternalPatientId ?? "None")</td>
                            <td>
                                @patient.Submissions.Count
                                (
                                @if (patient.Submissions.Count > 0)
                                {
                                    <a class="text-info" href="@Url.Action("Patient", "Submissions", new { id = patient.PatientId })">
                                        <i class="fa fa-eye"></i>
                                        View
                                    </a>
                                    <span>|</span>
                                }
                                <a class="text-success" href="@Url.Action("Start", "Submissions", new { id = patient.PatientId })">
                                    <i class="fa fa-plus-circle"></i>
                                    New
                                </a>
                                )
                            </td>
                            <td>
                                <a title="Edit" href="@Url.Action("Edit", new { id = patient.PatientId })">
                                    <i class="fa fa-lg fa-pencil"></i>
                                </a> |
                                <a title="Delete" class="text-danger" href="@Url.Action("Delete",new { id = patient.PatientId })">
                                    <i class="fa fa-lg fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>