@model MementoHealth.Entities.Patient

@{
    ViewBag.Title = "Patient Details";
}

<h2>@ViewBag.Title</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.FullName)</dt>
        <dd>@Html.DisplayFor(model => model.FullName)</dd>

        <dt>@Html.DisplayNameFor(model => model.Birthday)</dt>
        <dd>@Model.Birthday.ToShortDateString()</dd>

        <dt>@Html.DisplayNameFor(model => model.ExternalPatientId)</dt>
        <dd>@Html.DisplayFor(model => model.ExternalPatientId)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PatientId }) |
    @Html.ActionLink("Back to List", "Index")
</p>