@model MementoHealth.Models.ImportPatientsResultsViewModel

@{
    ViewBag.Title = "Import Results";

    string CountToString(int count, string singular, string plural)
    {
        return count + " " + (count == 1 ? singular : plural);
    }
}

<div class="row d-flex justify-content-center">
    <div class="shadow bg-light text-center" style="border-radius: 12px">
        <div class="h2 text-center font-weight-bold" style="padding: 25px 10px 10px 10px">Patient Import Results</div><hr />
        <div class="custom-form-div" style="padding-bottom: 0px; min-width: 300px">
            <div class="row">
                <div class="col-md-auto w-100">
                    @if (Model.ExceptionThrown)
                    {
                        <div class="text-danger">An error has occurred.</div>
                    }
                <div class="list-group">
                    @if (Model.ImportedLines.Count > 0)
                    {
                        <a class="list-group-item list-group-item-success font-weight-bold" style="pointer-events: none">@CountToString(Model.ImportedLines.Count, "patient", "patients") imported successfully</a>
                        <a class="list-group-item list-group-item-action  text-left"><pre><code>@string.Join("\n\n", Model.ImportedLines)</code></pre></a>
                    }

                    @if (Model.UpdatedLines.Count > 0)
                    {
                        <a class="list-group-item list-group-item-warning font-weight-bold" style="pointer-events: none">@CountToString(Model.UpdatedLines.Count, "patient", "patients") updated successfully</a>
                        <a class="list-group-item list-group-item-action  text-left"><pre><code>@string.Join("\n\n", Model.UpdatedLines)</code></pre></a>
                    }

                    @if (Model.ErrorLines.Count > 0)
                    {
                        <a class="list-group-item list-group-item-danger font-weight-bold" style="pointer-events: none">@CountToString(Model.ErrorLines.Count, "line is", "lines are") invalid</a>
                        <a class="list-group-item list-group-item-action  text-left"><pre><code>@string.Join("\n\n", Model.ErrorLines)</code></pre></a>
                    }

                    @if (Model.ExistingLines.Count > 0)
                    {
                        <a class="list-group-item list-group-item-info font-weight-bold" style="pointer-events: none">@CountToString(Model.ExistingLines.Count, "patient", "patients") already existed</a>
                    }
                </div>
                    <p class="pt-3">
                        <a href="@Url.Action("Index")"><i class="fa fa-chevron-circle-left"></i> Back to Patient List</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>