@model MementoHealth.Models.ImportPatientsResultsViewModel

@{
    ViewBag.Title = "ImportResults";

    string CountToString(int count, string singular, string plural)
    {
        return count + " " + (count == 1 ? singular : plural);
    }
}

<div class="row d-flex justify-content-center">
    <div class="shadow bg-light text-center" style="border-radius: 12px">
        <div class="h2 text-center font-weight-bold" style="padding: 25px 10px 10px 10px">Patient Import Results</div><hr />
        <div class="custom-form-div" style="padding-bottom: 0px; min-width: 300px">
            <div class="row">
                <div class="col-md-auto w-100">
                    @if (Model.ExceptionThrown)
                    {
                        <div class="text-danger">An error has occurred.</div>
                    }

                    @if (Model.ErrorLines.Count > 0)
                    {
                        <div class="border border-danger">
                            <div class="text-danger pl-2 pr-2">@CountToString(Model.ErrorLines.Count, "line is", "lines are") invalid:</div>
                            <pre><code>@string.Join("\n", Model.ErrorLines)</code></pre>
                        </div>
                    }

                    @if (Model.UpdatedLines.Count > 0)
                    {
                        <div class="border border-warning">
                            <div class="text-warning pl-2 pr-2">@CountToString(Model.UpdatedLines.Count, "patient", "patients") updated successfully:</div>
                            <pre><code>@string.Join("\n", Model.UpdatedLines)</code></pre>
                        </div>
                    }

                    @if (Model.ImportedLines.Count > 0)
                    {
                        <div class="border border-success">
                            <div class="text-success pl-2 pr-2">@CountToString(Model.ImportedLines.Count, "patient", "patients") imported successfully:</div>
                            <pre><code>@string.Join("\n", Model.ImportedLines)</code></pre>
                        </div>
                    }

                    @if (Model.ExistingLines.Count > 0)
                    {
                        <div class="border border-info pl-2 pr-2">
                            <div class="text-info">@CountToString(Model.ExistingLines.Count, "patient", "patients") already exist.</div>
                        </div>
                    }

                    <p class="pt-3">
                        <a href="@Url.Action("Index")"><i class="fa fa-chevron-circle-left"></i> Back to Patient List</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>