@model IEnumerable<MementoHealth.Entities.Patient>

@{
    ViewBag.Title = "Patients";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Add", "Create") |
    @Html.ActionLink("Import", "Import")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.FullName)</th>
        <th>@Html.DisplayNameFor(model => model.Birthday)</th>
        <th>@Html.DisplayNameFor(model => model.ExternalPatientId)</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FullName)</td>
            <td>@item.Birthday.ToShortDateString()</td>
            <td>@Html.DisplayFor(modelItem => item.ExternalPatientId)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PatientId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PatientId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PatientId })
            </td>
        </tr>
    }
</table>