@model IEnumerable<MementoHealth.Entities.Patient>

@{
    ViewBag.Title = "Patients";
    ViewBag.UseFullScreenWidth = true;
}

<div class="box" style="text-align: center">
    <div class="page-title font-weight-bold h2">@ViewBag.Title</div>
    <div style="margin-top:-30px; margin-bottom: 10px">
        @Html.ActionLink("Add", "Create") |
        @Html.ActionLink("Import", "Import") |
        @Html.ActionLink("Search", "Search")
    </div>
</div>

@Html.Partial("_PatientsTablePartial", Model)