@model MementoHealth.Entities.FormSubmission
@{
    bool isPatientView = ViewBag.ShowChangeAnswerLinks != null && ViewBag.ShowChangeAnswerLinks == true;
}

<table class="table table-striped">
    <tr>
        <th>Question</th>
        <th>@(isPatientView ? "Your" : "Patient") Answer</th>
        @if (isPatientView)
        {
            <th></th>
        }
    </tr>
    @foreach (var answer in Model.GetAnswers())
    {
        <tr>
            <td>@answer.Question.Question</td>
            <td class="json-data"
                data-question-type="@answer.Question.TypeString"
                data-json-question="@answer.Question.JsonData"
                data-json-answer="@answer.JsonData"></td>
            @if (isPatientView)
            {
                <td>@Html.ActionLink("Change answer", "Answer", new { id = Model.SubmissionId, questionId = answer.QuestionId })</td>
            }
        </tr>
    }
</table>