@using MementoHealth.Entities
@model IEnumerable<FormSubmission>

@{
    bool hidePatient = ViewBag.HidePatient != null && ViewBag.HidePatient == true;
    bool hideForm = ViewBag.HideForm != null && ViewBag.HideForm == true;
}

@if (Model.Count() == 0)
{
    <span class="text-danger">No submissions yet...</span>
    <div>@Html.ActionLink("View all patients", "Index", "Patients")</div>
    <div>@Html.ActionLink("View all forms", "Index", "Forms")</div>
}
else
{
    <div class="container" style="overflow-y: auto; white-space: nowrap; min-width: 94.5%; text-align: center">
        <div class="card shadow">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            @if (!hidePatient)
                            {
                                <th>Patient</th>
                            }
                            @if (!hideForm)
                            {
                                <th>Form</th>
                            }
                            <th>Start</th>
                            <th>End</th>
                            <th>Time to Complete</th>
                            <th>Answered All Questions</th>
                            <th>Was Submitted</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (FormSubmission submission in Model)
                        {
                        <tr>
                            @if (!hidePatient)
                            {
                                <td>@submission.Patient.FullName</td>
                            }
                            @if (!hideForm)
                            {
                                <td>@submission.Form.Name</td>
                            }
                            <td>@submission.SubmissionStartDate</td>
                            <td>@submission.SubmissionEndDate</td>
                            <td>@submission.TimeToComplete</td>
                            <td>@submission.AnsweredAllQuestions</td>
                            <td>@submission.WasSubmitted</td>
                            <td>
                                @Html.ActionLink("View details", "Details", new { id = submission.SubmissionId }) |
                                @Html.ActionLink("Clone", "Clone", new { id = submission.SubmissionId }) |
                                @Html.ActionLink(submission.WasSubmitted ? "Edit" : "Continue", "Answer", new { id = submission.SubmissionId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = submission.SubmissionId })
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@section styles {
    <style>
        form {
            display: inline-block;
        }
    </style>
}
