@model FormSubmission

@{
    ViewBag.Title = "Clone Submission";
}

<div class="row d-flex justify-content-center">
    <div class="shadow bg-light text-center" style="border-radius: 12px">
        <div class="h2 text-center font-weight-bold" style="padding-top: 25px;">Clone this Submission?</div><hr />
        <div class="custom-form-div" style="min-width: 300px; padding-bottom: 0px">

            <div class="row">
                <div class="col-md-auto">
                    <section>
                        <div class="form-group">
                            <div class="col-md-auto my-1 font-weight-bold" style="text-align: center">@Html.DisplayNameFor(model => model.Patient)</div><hr style="margin: 0 0 0 0" />
                            <div class="col-md-auto my-1">@Html.DisplayFor(model => model.Patient.FullName)</div>
                        </div>

                        <div class="form-group mt-4">
                            <div class="col-md-auto my-1 font-weight-bold" style="text-align: center">@Html.DisplayNameFor(model => model.Form)</div><hr style="margin: 0 0 0 0" />
                            <div class="col-md-auto my-1">@Html.DisplayFor(model => model.Form.Name)</div>
                        </div>

                        <div class="form-group mt-2">
                            <div class="col-md-auto my-1 font-weight-bold" style="text-align: center">@Html.DisplayNameFor(model => model.AnsweredAllQuestions)</div><hr style="margin: 0 0 0 0" />
                            <div class="col-md-auto my-1">@Model.AnsweredAllQuestions</div>
                        </div>

                        <div class="form-group mt-4">
                            <div class="col-md-auto my-1 font-weight-bold" style="text-align: center">@Html.DisplayNameFor(model => model.SubmissionStartDate)</div><hr style="margin: 0 0 0 0" />
                            <div class="col-md-auto my-1">@Html.DisplayFor(model => model.SubmissionStartDate)</div>
                        </div>

                        @if (Model.WasSubmitted)
                        {
                            <div class="form-group mt-4">
                                <div class="col-md-auto my-1 font-weight-bold" style="text-align: center">@Html.DisplayNameFor(model => model.SubmissionEndDate)</div><hr style="margin: 0 0 0 0" />
                                <div class="col-md-auto my-1">@Html.DisplayFor(model => model.SubmissionEndDate)</div>
                            </div>

                            <div class="form-group mt-4">
                                <div class="col-md-auto my-1 font-weight-bold" style="text-align: center">@Html.DisplayNameFor(model => model.SubmissionEndDate)</div><hr style="margin: 0 0 0 0" />
                                <div class="col-md-auto my-1">@Html.DisplayFor(model => model.SubmissionEndDate)</div>
                            </div>
                        }

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color my-4" style="text-align: center">
                                <input type="submit" value="Clone" class="btn btn-primary w-100" />

                            </div>
                            <div style="text-align: center">
                                <div class="pt-2">
                                    <a href="@Url.Action("Patient", new { id = Model.PatientId })"><i class="fa fa-chevron-circle-left"></i> Back to Patient Submission List</a>
                                </div>
                                <a href="@Url.Action("Index")"><i class="fa fa-chevron-circle-left"></i> Back to Full Submission List</a>
                            </div>
                        }
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>