@model MementoHealth.Entities.FormSubmission
@{
    ViewBag.Title = "Submission Details";
}

<h2>@ViewBag.Title</h2>
@Html.Partial("_PatientDetailsPartial", Model.Patient)
<hr />

<div>
    <b>Start: </b>@Model.SubmissionStartDate
    @if (Model.SubmissionEndDate != null)
    {
        <span>|</span>
        <b>End: </b>@Model.SubmissionEndDate
        <span>|</span>
        <b>Time to Complete: </b>@Model.TimeToComplete
    }
</div>

@Html.Partial("_SubmissionDetailsPartial", Model)

<div>@Html.ActionLink("Back to Submission List", "Index")</div>

@section scripts
{
    @Scripts.Render("~/Scripts/Custom/FormAnswerDataConverter.js")
}