@model MementoHealth.Entities.FormSubmission
@{
    ViewBag.Title = "Submission Details";
}

<h2>@ViewBag.Title</h2>
@Html.Partial("_PatientDetailsPartial", Model.Patient)
<hr />

@Html.Partial("_SubmissionDetailsPartial", Model)

<div>@Html.ActionLink("Back to Submission List", "Index")</div>

@section scripts
{
    @Scripts.Render("~/Scripts/Custom/FormAnswerDataConverter.js")
}