@model MementoHealth.Entities.FormSubmission
@{
    ViewBag.Title = "Submission Details";
}
<div class="box text-center">
    <div class="page-title font-weight-bold h2">@ViewBag.Title</div>
    <div style="margin-top:-20px; margin-bottom: 10px">@Html.Partial("_PatientDetailsPartial", Model.Patient)</div>
    <div style="margin-bottom: 20px">@Html.ActionLink("Back to Submission List", "Index")</div>
</div>

<div>
    <b>Is complete: </b>@Model.IsComplete |
    <b>Start: </b>@Model.SubmissionStartDate
    @if (Model.SubmissionEndDate != null)
    {
        <span>|</span>
        <b>End: </b>@Model.SubmissionEndDate
        <span>|</span>
        <b>Time to Complete: </b>@Model.TimeToComplete
    }
</div>

@Html.Partial("_SubmissionDetailsPartial", Model)

@section scripts
{
    @Scripts.Render("~/Scripts/Custom/FormAnswerDataConverter.js")
}