@model FormSubmission
@{
    ViewBag.Title = "Submission Details";
}

<div class="titleCard container">
    <div class="text-center p-3" style="background-color: #e0e2eb; position: center; border-radius: 20px 20px 0px 0px">
        <div class="h2 page-title font-weight-bold">@ViewBag.Title</div>
        <div class="text-secondary">
            @Html.Partial("_PatientDetailsPartial", Model.Patient)
            <div class="pt-2">
                <b>Form: </b>@Model.Form.Name |
                <b>Answered All Questions: </b>@Model.AnsweredAllQuestions |
                <b>Start: </b>@Model.SubmissionStartDate
                @if (Model.WasSubmitted)
                {
                    <span>|</span>
                    <b>End: </b>@Model.SubmissionEndDate
                    <span>|</span>
                    <b>Time to Complete: </b>@Model.TimeToComplete
                }
            </div>
            <div class="pt-2">
                <span style="color: #5065ad"><i class="fa fa-chevron-circle-left"></i><b> Back to: </b></span>
                <a href="@Url.Action("Patient", new { id = Model.PatientId })">Patient Submission List</a>
                <span> | </span>
                <a href="@Url.Action("Index")">Full Submission List</a>
            </div>
        </div>
    </div>
</div>

    @Html.Partial("_SubmissionDetailsPartial", Model)

    @section scripts
{
        @Scripts.Render("~/Scripts/Custom/FormAnswerDataConverter.js")
    }
