@model SubmissionHistoryViewModel
@{
    ViewBag.Title = "Submission History";
}

<div class="titleCard container">
    <div class="text-center p-3" style="background-color: #e0e2eb; position: center; border-radius: 20px 20px 0px 0px">
        <div class="h2 page-title font-weight-bold">@ViewBag.Title</div>
        <div class="text-secondary">
            <div class="mb-2">
                <b>Form: </b>@Model.Form.Name | <b>Patient: </b> @Model.Patient.FullName |
                <b>Birthday: </b> @Model.Patient.Birthday.ToShortDateString()
                @if (!string.IsNullOrWhiteSpace(Model.Patient.ExternalPatientId))
                {
                    <text>|</text>
                    <b>External ID: </b> @Model.Patient.ExternalPatientId
                }
            </div>
            <div>
                <span style="color: #5065ad"><i class="fa fa-chevron-circle-left"></i><b> Back to: </b></span>
                <a href="@Url.Action("Patient", new { id = Model.Patient.PatientId })">Patient Submission List</a>
                <span> | </span>
                <a href="@Url.Action("Index")">Full Submission List</a>
            </div>
        </div>
    </div>
</div>

<div class="container" style="overflow-y: auto; white-space: nowrap; min-width: 94.5%">
    <div class="card shadow">
        <div class="sticky-table sticky-ltr-cells" style="border-radius: 0px 0px 20px 20px">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr class="sticky-header">
                        <th class="sticky-cell">Questions</th>
                        @for (int i = 0; i < Model.SubmissionDates.Count; i++)
                        {
                            <th class="@(i == 0 ? "sticky-cell" : "")">@Model.SubmissionDates[i]</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var qa in Model.QuestionJsonAnswers)
                    {
                        int columnCounter = 0;
                        <tr>
                            <td class="sticky-cell">@qa.Key.Question</td>
                            @foreach (string jsonData in qa.Value)
                            {
                                string stickyClass = columnCounter++ == 0 ? "sticky-cell" : "";
                                if (string.IsNullOrWhiteSpace(jsonData))
                                {
                                    <td class="@stickyClass">[Unreached]</td>
                                }
                                else
                                {
                                    <td class="json-data @stickyClass"
                                        data-question-type="@qa.Key.TypeString"
                                        data-json-question="@qa.Key.JsonData"
                                        data-json-answer="@jsonData"></td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/Custom/FormAnswerDataConverter.js")
}
