@using MementoHealth.Entities
@model IEnumerable<FormSubmission>
@{
    Patient patient = Model.First().Patient;
    ViewBag.Title = "Submissions by " + patient.FullName;
    ViewBag.UseFullScreenWidth = true;
    ViewBag.HidePatient = true;
}
<div class="text-center">
    <div class="h2 page-title font-weight-bold">@ViewBag.Title</div>
    <div class="text-secondary">
        <div class="pb-3">
            <b>Patient: </b> @patient.FullName |
            <b>Birthday: </b> @patient.Birthday.ToShortDateString()
            @if (patient.ExternalPatientId != null)
            {
                <text>|</text>
                <b>External ID: </b> @patient.ExternalPatientId
            }
        </div>
        @Html.ActionLink("Back to Patients", "Index", "Patients") |
        @Html.ActionLink("Start new", "Start", "Submissions", new { id = patient.PatientId }, null)
    </div>
    <hr />
</div>

@Html.Partial("_SubmissionsTablePartial", Model)