@model MementoHealth.Entities.FormSubmission
@{
    ViewBag.Title = "Review Submission";
    ViewBag.ShowChangeAnswerLinks = true;
    ViewBag.PatientId = Model.Patient.PatientId;
}

<h2>@ViewBag.Title</h2>
@Html.Partial("_PatientDetailsPartial", Model.Patient)
<hr />

<h4>Form completed successfully. Please review your answers below and hit submit.</h4>
<div class="progress" style="height: 36px;">
    <div class="progress-bar bg-success" role="progressbar" style="width: 100%"><b>100%</b></div>
</div>

@Html.Partial("_SubmissionDetailsPartial", Model)

@using (Html.BeginForm("Submit", "Submissions", new { id = Model.SubmissionId }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input type="submit" value="Submit" class="btn btn-primary w-100" />
}

@section scripts
{
    @Scripts.Render("~/Scripts/Custom/FormAnswerDataConverter.js")
}