@model MementoHealth.Models.ChooseFormViewModel
@{
    ViewBag.Title = "Start Patient Submission";
}
<div class="row d-flex justify-content-center">
    <div class="shadow bg-light text-center" style="border-radius: 12px">
        <div class="page-title h2 font-weight-bold" style="padding-top: 25px;">@ViewBag.Title</div>
        <div class="custom-form-div" style="margin-top: -50px; padding-bottom: 0px">
            <div class="row">
                <div class="col-md-auto">
                    <section>
                        <div class="form-group mt-2">
                            <div class="col-md-auto my-1 font-weight-bold" style="text-align: center">@Html.DisplayNameFor(model => model.Patient.FullName)</div><hr style="margin: 0 0 0 0" />
                            <div class="col-md-auto my-1">@Html.DisplayFor(model => model.Patient.FullName)</div>
                        </div>

                        <div class="form-group mt-4">
                            <div class="col-md-auto my-1 font-weight-bold" style="text-align: center">@Html.DisplayNameFor(model => model.Patient.Birthday)</div><hr style="margin: 0 0 0 0" />
                            <div class="col-md-auto my-1">@Model.Patient.Birthday.ToShortDateString()</div>
                        </div>

                        <div class="form-group mt-4">
                            <div class="col-md-auto my-1 font-weight-bold" style="text-align: center">@Html.DisplayNameFor(model => model.Patient.ExternalPatientId)</div><hr style="margin: 0 0 0 0" />
                            <div class="col-md-auto my-1">@(Model.Patient.ExternalPatientId ?? "None")</div>
                        </div>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(m => m.PatientId)

                            <div class="form-group mt-4">
                                <div class="col-md-auto my-1 font-weight-bold" style="text-align: center">@Html.LabelFor(m => m.FormId)</div><hr style="margin: 0 0 0 0" />
                                <div class="col-md-auto my-1">
                                    @Html.DropDownList(nameof(Model.FormId),
                                        new SelectList(Model.Forms
                                            .Select(f => new { Value = f.FormId, Text = f.Name }),
                                                "Value",
                                                "Text"
                                        ),
                                        new { @class = "form-control" }
                                    )
                                </div>
                            </div>

                            <div class="form-actions no-color my-4" style="text-align: center">
                                <input type="submit" value="Start" class="btn btn-success w-100" />
                            </div>
                        }
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>